# Project exclude paths
/out/
.idea/
Cup_Editor.eml
MJCompiler.eml
MJCompiler.iml
PP_projekat.userlibraries
config/
dokumentacija.docx
logs/
src/ast/
test/additional_tests/
test/program.mj
test/program.obj
test/program1.mj
test/program2.mj
test/program3.mj
.idea/vcs.xml
*.class
src/rs/ac/bg/etf/pp1/ast/
src/rs/ac/bg/etf/pp1/Yylex.java~
src/rs/ac/bg/etf/pp1/MJParser.java
src/rs/ac/bg/etf/pp1/sym.java
src/rs/ac/bg/etf/pp1/Yylex.java
spec/mjparser_astbuild.cup
