# Project exclude paths
/out/
.idea/.gitignore
.idea/Cup_Editor.iml
.idea/ant.xml
.idea/checkstyle-idea.xml
.idea/checkstyleidea-libs/
.idea/dictionaries/
.idea/encodings.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/workspace.xml~e1c0dc7... added gitignore
Cup_Editor.eml
MJCompiler.eml
MJCompiler.iml
PP_projekat.userlibraries
config/
dokumentacija.docx
logs/
src/ast/
test/TestA.mj
test/TestB.mj
test/additional_tests/
test/program.mj
test/program.obj
test/program1.mj
test/program2.mj
test/program3.mj
.idea/vcs.xml
*.class
src/rs/ac/bg/etf/pp1/ast/
src/rs/ac/bg/etf/pp1/Yylex.java~
